<div class="robotoReg" id="configurationsPage" ng-controller="configCtrl">
	<center>
		<div class="main configBox">
			<div class="row bottomLine">
				<h2>Configurations</h2>
			</div><br>

			<div class="row" id="apis">
				<form class="">
					<div style="float: left">
						<input type="radio" name="apiConfig" value="1" ng-model="radioBoxSelection" id="rest">
						<label for="rest">REST Configurations</label>
					</div>
					<div>
						<input type="radio" name="apiConfig" value="2" ng-model="radioBoxSelection" id="soap">
						<label for="soap">SOAP Configurations</label>
					</div>
				</form>
			</div>
			<br>
			<div class="row" id="REST" ng-show="radioBoxSelection == 1" style="font-size: 14px">
				<div class="row">
					<a class="btn btn-primary" href="#/settings"><i class="glyphicon glyphicon-plus left"></i>Add API</a>
				</div>
				<div class="row" style="font-size: 14px">
					<table class="table table-bordered table-resposive centered ">
						<thead style="background-color: rgba(0, 0, 0, 0.2)">
							<th data-field="region">Region</th>
      	         			<th data-field="api_name">API Name</th>
      					 	<th data-field="country">Country</th>
      					 	<th data-field="active">Active?</th>
						</thead>
						<tbody>
							<tr>
								<td>West Africa</td>
								<td>MTN Mobile money</td>
								<td>Cameroon</td>
								<td>True</td>
							</tr>
						</tbody>
					</table>
				</div>

				<!-- Partials -->
				<script type="text/ng-template" id="/settings">
					<div class="row" style="width: 80%; position: relative; left: 5%;" ng-controller="configCtrl">
						<center>
							<br><br>
							<span style="font-weight: bold; font-size: 30px;">Location</span>
							<div class="row">
								<div class="col-sm-6">
									<div class="input-group">
										<input id="regionName" type="text" class="form-control" ng-model="region">
										<label for="regionName" data-error="wrong" data-success="right">Region<span style="color: red">*</span>&nbsp;&nbsp;<span style="color: rgba(0,0,0,0.3); font-size: 15px">eg. West Africa</span></label>
									</div>
								</div>
								<div class="col-sm-6">
									<div class="input-group">
										<input id="countryName" type="text" class="form-control" ng-model="country">
										<label for="countryName" data-error="wrong" data-success="right">Country<span style="color: red">*</span>&nbsp;&nbsp;<span style="color: rgba(0,0,0,0.3); font-size: 15px">eg. Cameroon</span></label>
									</div>
								</div>
							</div>
							<div class="row">
								<br>
								<span style="font-weight: bold; font-size: 30px;">Configure API</span>
								<br>
								<span style="font-weight: bold; font-size: 20px;" class="left">Basic Information</span>
								<br>
								<hr>
							</div>
							<div class="row">
								<form>
									<div class="row">
										<div class="input-group col-sm-10">
											<input id="displayName" type="text" class="form-control" ng-model="display_name">
											<label for="displayName" data-error="wrong" data-success="right">Display Name<span style="color: red">*</span>&nbsp;&nbsp;<span style="color: rgba(0,0,0,0.3); font-size: 15px">eg. MTN mobile money</span></label>
										</div>
									</div>
									<div class="row">
										<div class="input-group col-sm-10">
											<input id="savingsUrl" type="text" class="form-control" ng-model="savings_url">
											<label for="savingsUrl" data-error="wrong" data-success="right">Savings URL<span style="color: red">*</span>&nbsp;&nbsp;<span style="color: rgba(0,0,0,0.3); font-size: 15px">eg. http://api.furthermarket.com/FM/MTN/MoMo/requestpayment</span></label>
										</div>
									</div>
									<div class="row">
										<div class="input-group col-sm-10">
											<input id="withdrawUrl" type="text" class="form-control" ng-model="withdraw_url">
											<label for="withdrawUrl" data-error="wrong" data-success="right">Withdrawals URL<span style="color: red">*</span>&nbsp;&nbsp;<span style="color: rgba(0,0,0,0.3); font-size: 15px">eg. http://api.furthermarket.com/FM/MTN/MoMo/requestpayment</span></label>
										</div>
									</div>
									<div class="row">
										<div class="input-group col-sm-10">
											<input id="orgAccId" type="number" class="form-control" ng-model="orgAcc_id">
											<label for="orgAccId" data-error="wrong" data-success="right">Org Account Id<span style="color: red">*</span>&nbsp;&nbsp;<span style="color: rgba(0,0,0,0.3); font-size: 15px">3456</span></label>
										</div>
									</div>
									<div class="row">
										<div class="input-group col-sm-10">
											<input id="phoneNumber" type="number" class="form-control" ng-model="org_phone">
											<label for="phoneNumber" data-error="wrong" data-success="right">Phone number<span style="color: red">*</span></label>
										</div>
									</div>
								</form>
								<div class="row">
									<div class="row">
										<span style="font-weight: bold; font-size: 20px;" class="left">Parameters</span>
										<br>
										<hr>
									</div>
									<div class="row">
										<span class="left" style="position:relative; left: -41%">Savings Parameters:</span>
										<div class="col-sm-12" style="margin-top: 20px">
											<div class="col-sm-5">
												<div class="input-group col-sm-10">
													<input id="savingsParamName" type="text" class="form-control" ng-model="savingsParamName">
													<label for="savingsParamName" data-error="wrong" data-success="right">Parameter name<span style="color: red">*</span></label>
												</div>
											</div>
											<div class="col-sm-4">
												<div class="input-group col-sm-10">
													<input id="savingsParamValue" type="text" class="form-control" ng-model="savingsParamValue">
													<label for="savingsParamValue" data-error="wrong" data-success="right">Sample Value<span style="color: red">*</span></label>
												</div>
											</div>
											<div class="row">
												<a  ng-click="addSavingsParam()"><i style="color: #1976d2; cursor:pointer" class="glyphicon glyphicon-plus"></i></a>
											</div>
										</div>
									</div>
								</div>
								<div class="row " style="font-size: 14px; width:92%; clear: both" ng-show="hide">
									<div class="col-sm-12">
										<table class="table-bordered table table-responsive">
											<thead style="background-color: rgba(0, 0, 0, 0.2)">
												<th data-field="region">Parameter Name</th>
					      	         			<th data-field="api_name">Sample Parameter Value</th>
					      	         			<th data-field="action">Action</th>
											</thead>
											<tbody>
												<tr dir-paginate="param in savingsParams|itemsPerPage: 5" class="pointer">
													<td>{{param.savingsParamName}}</td>
													<td>{{param.savingsParamValue}}</td>
													<td>
														<a ng-click="delSavingsParam($index)">
															<i style="color: red; cursor:pointer" class="glyphicon glyphicon-remove"></i>
														</a>
													</td>
												</tr>
											</tbody>
										</table>
									</div>
									<div>
										<center>
											<dir-pagination-controls
										    	max-size="10"
										    	direction-links="true"
										    	boundary-links="true" >
											</dir-pagination-controls>
										</center>
									</div>
								</div>	
								<br>
								<div class="row">
									<div class="row" style="clear: both">
										<span style="position:relative; left: -40%">Withdrawal Parameters:</span>
										<div class="col-sm-12" style="margin-top: 20px">
											<div class="col-sm-5">
												<div class="input-group col-sm-10">
													<input id="withParamName" type="text" class="form-control" ng-model="withParamName">
													<label for="withParamName" data-error="wrong" data-success="right">Parameter name<span style="color: red">*</span></label>
												</div>
											</div>
											<div class="col-sm-4">
												<div class="input-group col-sm-10">
													<input id="withParamValue" type="text" class="form-control" ng-model="withParamValue">
													<label for="withParamValue" data-error="wrong" data-success="right">Sample Value<span style="color: red">*</span></label>
												</div>
											</div>
											<a ng-click="addWithParams()"><i style="color: #1976d2; cursor:pointer" class="glyphicon glyphicon-plus"></i></a>
										</div>
									</div>
								</div>
								<div class="row left" style="font-size: 14px; width:92%;" ng-show="withHide">
									<div class="col-sm-12">
										<table class="table table-bordered table-responsive">
											<thead style="background-color: rgba(0, 0, 0, 0.2)">
												<th data-field="region">Parameter Name</th>
					      	         			<th data-field="api_name">Sample Parameter Value</th>
					      	         			<th data-field="action">Action</th>
											</thead>
											<tbody>
												<tr dir-paginate="param in withdrawalParams|itemsPerPage: 5" class="pointer">
													<td>{{param.withParamName}}</td>
													<td>{{param.withParamValue}}</td>
													<td>
														<a class="left" ng-click="delWithParams($index)">
															<i style="color: red; cursor:pointer" class="glyphicon glyphicon-remove"></i>
														</a>
													</td>
												</tr>
											</tbody>
										</table>
									</div>
									<div>
										<center>
											<dir-pagination-controls
										    	max-size="10"
										    	direction-links="true"
										    	boundary-links="true" >
											</dir-pagination-controls>
										</center>
									</div>
								</div>	
								<div class="row">
									 <div class="col-sm-10">
                  						<a class="btn btn-danger" ng-click="goBack()">Cancel<i class="glyphicon glyphicon-remove"></i></a>
                  						<button class="btn btn-success" ng-click="updateSettings()">Submit<i class="glyphicon glyphicon-ok"></i></button>
              						</div>
								</div>
							</div>
	            		</center>
					</div>
					<!-- Modal code -->
	  				<div id="updateModal" class="modal fade" ng-controller="configCtrl">
                		<div class="modal-dialog" role="document">
							<div class="modal-content">
								<div class="modal-body">
                  					<span class="robotoThin" style="font-size: 25px;">Please wait....Processing request</span>
                				</div>
                				<div class="modal-footer">
                  					<div class="progress progress-striped active">
  						   				<div class="progress-bar" role="progressbar" aria-valuenow="100" 
											aria-valuemin="0" aria-valuemax="100" style="width: 100%">
  						   				</div>
					   				</div>
								</div>                	
							</div>
						</div>
            		</div>
				</script>
<!--   				<div id="cancelModal" class="modal fade"> -->
<!-- 	    			<div class="modal-content"> -->
<!-- 	    				<div class="modal-body"> -->
<!-- 	      					<h4>Confirm cancelation</h4> -->
<!-- 	      					<p>Agreeing discards all your changes<br>Are you sure you want to discard your changes?</p> -->
<!-- 	    				</div> -->
<!-- 	    				<div class="modal-footer"> -->
<!-- 	      					<a class="btn btn-danger modal-action" data-dismiss="modal">Disagree</a> -->
<!-- 	      					<a ng-click="goBack()" class="btn btn-primary modal-action modal-close">Agree</a> -->
<!-- 	    				</div> -->
<!--   					</div> -->
<!--   				</div> -->
			</div>
			<div class="row" id="SOAP" ng-show="radioBoxSelection == 2">
				<span>SOAP configurations will go here</span>
			</div>
		</div>
	</center>
</div>