<div class="robotoReg" id="clientPageId">
      <!-- spinner -->
        <div class="spinner" ng-show="loading">
		  <img src="images/default.gif">
        </div>
      <div ng-hide="loading">
        <div class="col-sm-8">
         <div>
            <span class="medText" style="font-size: 40px;">{{clientName}}</span>&nbsp;&nbsp;<span>Client#: <span class="nameStyle robotoLight">{{accountNo}}</span></span> &nbsp;&nbsp;<span style="font-size: 12px;">|</span>&nbsp;&nbsp;Assigned Staff: <span class="nameStyle robotoLight">{{staffName}}</span></span>
         </div>
		  <div class="row">
			  <div class="col-sm-12" style="position: relative; left: 1%;font-size: 14px">				
	        	<table class="table table-bordered table-responsive">
    					<thead style="background-color: rgba(0, 0, 0, 0.2)">
      	         			<th data-field="id">ID</th>
      	         			<th data-field="accountId">Account #</th>
      					 	<th data-field="name">Account Name</th>
      					 	<th data-field="balance">Account Balance</th>
      					 	<th data-field="button">Action<th>
    					</thead>
    					<tbody>
    						<tr dir-paginate="acc in savingsAccounts|itemsPerPage: 5" class="pointer tableHover">
    							<td>{{acc.id}}</td>
    							<td>{{acc.accountNo}}</td>
    							<td>{{acc.productName}}</td>
    							<td ng-model="bal">{{acc.accountBalance}}</td>
    							<td><a href="#/processWithdrawals" ui-sref="processWithdrawals({accId: {{acc.id}} })" class="btn" ng-class="acc.status.active || acc.status.rejected ? 'btn-danger' : 'whiteBtn'">Debit</a></td>
    						</tr>
    					</tbody>
				    </table>	
				<div>
					<center>
					<dir-pagination-controls
				    	max-size="10"
				    	direction-links="true"
				    	boundary-links="true" >
					</dir-pagination-controls>
					</center>
				</div>		
			  </div>
		  </div>
		  
		  <!-- Partial view -->
		  <script type="text/ng-template" id="/processWith.htm">
          	<div class="row withMBox">
            <form class="col-sm-8" name="withForm" ng-submit="submitForm(withForm.$valid)" novalidate>
              <div class="row" style="text-align: center;">
                <span class="xlargeText robotoLight withHHead">Withdraw Money Into MM Account From MFI account</span>
              </div>
              <div class="row">
                <span class="xlargeText robotoThin">Current Balance: {{accountBalance}}</span>
              </div>
              <div class="row">
                <div class="input-group" ng-class="{'has-error': withForm.amount.$invalid && !withForm.amount.$pristine }">
                  <i class="glyphicon glyphicon-usd prefix"></i>
                  <input name="amount" class="form-control" id="icon_prefix" ng-model="amount" type="number" ng-minlength="1" required>
                  <label for="icon_prefix">Enter Amount</label>
                  <p ng-show="(withForm.amount.$invalid && !withForm.amount.$pristine) && submitted" class="errorMsg">Amount is required.</p>
                </div>
              </div>
              <div class="row">
                <div class="input-group" ng-class="{ 'has-error': withForm.phone.$invalid && !withForm.phone.$pristine }">
                  <i class="glyphicon glyphicon-earphone prefix"></i>
                  <input name="phone" type="number" class="form-control" id="phoneNumber" ng-model="phoneNumber" ng-minlength="8" required>
                  <label for="icon_prefix">Phone Number</label>
                  <p ng-show="withForm.phone.$error.minlength && submitted" class="errorMsg">Phone number is too short.</p>
                  <p ng-show="(withForm.phone.$invalid && !withForm.phone.$pristine) && submitted" class="errorMsg">Phone number is required.</p>
                </div>
              </div>
              <br><br>
              <div class="row">
                  <a class="btn btn-danger" ng-click="$root.goBack()">Cancel<i class="glyphicon glyphicon-remove"></i></a>
                  <button class="btn btn-success">Submit<i class="glyphicon glyphicon-ok"></i></button>
              </div>
            </form>
          </div>
          <!-- Modal Structure -->
           <div id="withModal" class="modal fade" style="z-index: 1000; width: 30%;>
               <div class="modal-content">
			       <div class="modal-body`">
                     <span class="robotoThin" style="font-size: 25px;">Please wait....Processing request</span>
                   </div>
                   <div class="modal-footer">                     
					   <div class="progress progress-striped active">
  						   <div class="progress-bar" role="progressbar" aria-valuenow="100" 
									aria-valuemin="0" aria-valuemax="100" style="width: 100%">
  						   </div>
					   </div>
                   </div>
			   </div>
           </div>
	  	  </script>
		  <!-- End of partial view -->
        </div>
        <div class="col-sm-4 resetSize">
          <div class="clientBox" style="width: 100%">
			<div style="color: #1E88E5; text-decoration: underline;">
				<center>{{clientName}}</center>
			</div>
            <div>
              <center><img src="images/client-image-placeholder.png"></center>
            </div>
            <div class="summaryInfo" style="font-size: 15px">
              <div class="sumHead" style="text-align: center;">&nbsp;Client Information</div><br>
            	<span>Activation Date: <span class="robotoLight">&nbsp;{{activationDate}}</span></span><br>
            	<span>Staff Member: <span class="robotoLight">&nbsp;{{staffName}}</span></span><br>
      				<span># of Loan Cycle: <span class="robotoLight">&nbsp;5</span></span><br>
      				<span># of Active Savings: <span class="robotoLight">&nbsp;5</span></span><br>
      				<span>Total Savings: <span class="robotoLight">&nbsp;50000000</span></span><br>
            	<span>Office: <span class="robotoLight">&nbsp;{{officeName}}</span></span><br>
            	<span>Activated by: <span class="robotoLight">&nbsp;{{userName}}</span></span>
            </div>
          </div>
        </div>
      </div>
  </div>

  