<div class="navbar-fixed">
  <nav style="background-color: #4885ed">
    <div class="nav-wrapper">
      <a ui-sref="clients" class="brand-logo" style="padding-left: 5px;">
        <img height="30" width="90" src="images/MifosX_logoSmall.png" />
      </a>
      <ul id="nav-mobile" class="right hide-on-med-and-down">
        <li><a href="collapsible.html">
          <i class="icon ion-person" style="float: left"></i>&nbsp;
          Daniel
        </a></li>
      </ul>
    </div>
  </nav>
</div>
