<div class="row topify-large">
  <div class="col s12">
    <div class="col s5" style="background-color: #4885ed; color: white; height: 250px; width: 350px; margin-left: 60px">
      <div class="row largeText">
        <i class="icon ion-cash"></i>
        Deposits
      </div>
      <hr class="dash">
      <div class="row dashText">
        Deposit a cash sum into a savings account
      </div>
      <div class="row">
        <center>
          <a class="waves-effect waves-light btn-flat right" ui-sref="main.deposit_accounts" style="color: white; border: 2px solid #fff; text-align: center">
            Proceed
            <i class="icon ion-android-share"></i>
          </a>
        </center>
      </div>
    </div>
    <div class="col s5" style="background-color: #4885ed; color: white; height: 250px; width: 350px; margin-left: 190px">
      <div class="row largeText">
        <i class="icon ion-clock"></i>
        Withdrawals
      </div>
      <hr class="dash">
      <div class="row dashText">
        Withdraw some or all money from a savings account
      </div>
      <div class="row">
        <center>
          <a class="waves-effect waves-light btn-flat right" ui-sref="main.withdrawal_accounts" style="color: white; border: 2px solid #fff; text-align: center">
            Proceed
            <i class="icon ion-android-share"></i>
          </a>
        </center>
      </div>
    </div>
  </div>
</div>
