<div class="row topify-large">
  <div class="col s12">
    <div class="col s3" style="background-color: #4885ed; color: white; height: 200px; width: 300px; margin: 1px">
      <div class="row largeText">
        <i class="icon ion-cash"></i>
        Loan Repayments
      </div>
      <hr class="dash">
      <div class="row dashText">
        Repay a loan for an account which is neither a group loan account nor a JLG loan account.
      </div>
      <div class="row">
        <center>
          <a class="waves-effect waves-light btn-flat right" ui-sref="main.repayment_accounts" style="color: white; border: 2px solid #fff; text-align: center">
            Apply
            <i class="icon ion-android-share"></i>
          </a>
        </center>
      </div>
    </div>
    <div class="col s3" style="background-color: #4885ed; color: white; height: 200px; width: 300px; margin-left: 40px">
      <div class="row largeText">
        <i class="icon ion-clock"></i>
        Loan Disbursement
      </div>
      <hr class="dash">
      <div class="row dashText">
        Allows for disbursal of loan amount into your mobile money account.
      </div>
      <div class="row">
        <center>
          <a class="waves-effect waves-light btn-flat right" ui-sref="main.disbursal_accounts" style="color: white; border: 2px solid #fff; text-align: center">
            Apply
            <i class="icon ion-android-share"></i>
          </a>
        </center>
      </div>
    </div>
    <div class="col s3" style="background-color: #4885ed; color: white; height: 200px; width: 300px; margin-left: 40px">
      <div class="row largeText">
        <i class="icon ion-ios-pulse-strong"></i>
        Loan Application
      </div>
      <hr class="dash">
      <div class="row dashText">
        Allows for application of loans. All rules apply as on main system.
      </div>
      <div class="row">
        <center>
          <a class="waves-effect waves-light btn-flat right" ui-sref="main.application" style="color: white; border: 2px solid #fff; text-align: center">
            Check
            <i class="icon ion-android-share"></i>
          </a>
        </center>
      </div>
    </div>
  </div>
</div>
